body{
  font-family: 'Lato', sans-serif;
  color: #4A4A4A;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;


}
*{
    box-sizing: border-box;
}
#bg{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(5px);
}
form{
    position: relative;
    width: 350px;
}
.form-feild input {
    font-size: 17px;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: none;
    margin: 5px;
    text-indent: 19px;
}
.form-user-icon{
    position: absolute;
    top: 13px;
    right: 310px;
    width: 25px;
}
.form-pass-icon {
    position: absolute;
    top: 81px;
    right: 323px;
    
}
button.btn {
    font-size: 17px;
    border: none;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    background-color: #47AB11;
    position: absolute;
    left: 68px;
    margin: 1rem 1.5rem;
}